<div>
  <h1 class="text-center">請編輯您的支出</h1>
</div>
<form action="/expense-tracker/{{expense._id}}?_method=PUT" method="POST">
  <div class="container text-center mt-3 w-50 p-3">
    <div class="col">
      <h3>名稱*</h3>
      <input type="text" name="name" value="{{expense.name}}" required>
    </div>
    <div class="col mt-3">
      <h3>類型*</h3>
      <select name="Icon" required>
        <option>{{expense.category_ch}}</option>
        <optgroup label="類別選項">
        <option name="icon"value="家居物業=fas fa-home">家居物業</option>
        <option name="icon"value="交通出行=fas fa-shuttle-van">交通出行</option>
        <option name="icon" value="休閒娛樂=fas fa-grin-beam">休閒娛樂</option>
        <option name="icon" value="餐飲食品=fas fa-utensils">餐飲食品</option>
        <option name="icon"value="其他=fas fa-pen">其他</option>
      </select>
    </div>
    <div class="col mt-3">
      <h3>店家名稱</h3>
      <input type="text" name="shop"value={{expense.shop}}>
    </div>
    <div class="col mt-3">
      <h3>金額*</h3>
      <input type="number" name="amount" value={{expense.amount}} required>
    </div>
    <div class="col mt-3">
      <h3>日期*</h3>
      <input type="date" name="date" value="{{expense.date}}" required>
    </div>
    <div class="mt-3">
      <button class="btn btn-secondary" type="submit">修改</button>
    </div>
  </div>
</form>