<div class="container w-50 mt-3">
  <div>
    <h4>總額:</h4>
    <h1 class="text-center mb-3">{{totalAmount}}</h1>
  </div>
  <div class="d-flex justify-content-between">
    <a class="btn btn-secondary ml-4 mb-3" href="/expense-tracker/new">新增</a>
    <form action="/expense-tracker/filter" method="POST">
        <select class="categorys-select mt-3" name="icon" onchange="this.form.submit()">
          {{#if categoryName}}
          <option value="{{categoryName}}={{iconValue}}" selected>{{categoryName}}</option>
          {{/if}}
          <optgroup label="類別選項">
          <option name="month" value="全類別=all">全類別</option>
          <option name="icon"value="家居物業=fas fa-home">家居物業</option>
          <option name="icon"value="交通出行=fas fa-shuttle-van">交通出行</option>
          <option name="icon"value="休閒娛樂=fas fa-grin-beam">休閒娛樂</option>
          <option name="icon"value="餐飲食品=fas fa-utensils">餐飲食品</option>
          <option name="icon"value="其他=fas fa-pen">其他</option>
        </select>
        <select class="month-select" name="month" onchange="this.form.submit()">
          {{#if Month}}
          <option value="{{Month}}={{monthValue}}" selected>{{Month}}</option>
          {{/if}}
          <optgroup label="月份選項">
        <option name="month" value="全年度=all">全年度</option>  
        <option name="month" value="1月=01">1月</option>
        <option name="month" value="2月=02">2月</option>
        <option name="month" value="3月=03">3月</option>
        <option name="month" value="4月=04">4月</option>
        <option name="month" value="5月=05">5月</option>
        <option name="month" value="6月=06">6月</option>
        <option name="month" value="7月=07">7月</option>
        <option name="month" value="8月=08">8月</option>
        <option name="month" value="9月=09">9月</option>
        <option name="month" value="10月=10">10月</option>
        <option name="month" value="11月=11">11月</option>
        <option name="month" value="12月=12">12月</option>
        </select>
    </form>
  </div>
  <div class="d-flex flex-column bd-highlight mb-3">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th scope="col">類型</th>
          <th scope="col">日期</th>
          <th scope="col">名稱</th>
          <th scope="col">金額</th>
          <th scope="col">店家</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead> 
    <tbody>
     {{#each expense}}
    <tr class="text-center">
      <th scope="row"><i class="{{this.categoryIcon}} fa-lg m-2"></i></th>
      <td><h6 class="m-2">{{this.date}}</h6></td>
      <td><h6 class="m-2" name="name">{{this.name}}</h6></td>
      <td><h6 class="m-2">{{this.amount}}$</h6></td>
      <td><h6 class="m-2">{{this.shop}}</h6></td>
      <td><a class="btn btn-secondary" href="/expense-tracker/{{this._id}}/edit">編輯</a></td>
      <td>
        <form action="/expense-tracker/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-secondary ml-1 " type="submit">刪除</button>
        </form></td>
            </tr>
            {{/each}}
            </tbody>
        </form>
  </table>
  </div>
</div>