<div class="container w-50 mt-3">
  <div>
    <h4>總額:</h4>
    <h1 class="text-center mb-3">{{totalAmount}}</h1>
  </div>
  <div class="d-flex justify-content-between">
    <a class="btn btn-secondary" href="/expense-tracker/new">新增</a>
    <form action="/expense-tracker/filter" method="POST">
        <select class="categorys-select" name="icon" onchange="this.form.submit()">
          <optgroup label="類別選項">
          <option name="month" value="">全類別</option>
          <option name="icon"value="fas fa-home">家居物業</option>
          <option name="icon"value="fas fa-shuttle-van">交通出行</option>
          <option name="icon"value="fas fa-grin-beam">休閒娛樂</option>
          <option name="icon"value="fas fa-utensils">餐飲食品</option>
          <option name="icon"value="fas fa-pen">其他</option>
        </select>
        <select class="month-select" name="month" onchange="this.form.submit()">
          <optgroup label="選擇月份">
        <option name="month" value="">全年度</option>  
        <option name="month" value="01">1月</option>
        <option name="month" value="02">2月</option>
        <option name="month" value="03">3月</option>
        <option name="month" value="04">4月</option>
        <option name="month" value="05">5月</option>
        <option name="month" value="06">6月</option>
        <option name="month" value="07">7月</option>
        <option name="month" value="08">8月</option>
        <option name="month" value="09">9月</option>
        <option name="month" value="10">10月</option>
        <option name="month" value="11">11月</option>
        <option name="month" value="12">12月</option>
        </select>
    </form>
  </div>
  <div class="d-flex flex-column bd-highlight mb-3">
    <ul style="list-style-type:none">
    {{#each expense}}
    <li class="border-top-0 border-3 bg-light">
      <div class="d-flex flex-row justify-content-evenly bd-highlight mt-5">
            <i class="{{this.categoryIcon}} fa-lg m-2"></i>
              <h6 class="m-2" name="name">{{this.name}}</h6>
              <h6 class="m-2">{{this.amount}}$</h6>
            <h6 class="m-2">{{this.shop}}</h6>
            <h6 class="m-2">{{this.date}}</h6>
            <div class="text-end">
              <a class="btn btn-secondary" href="/expense-tracker/{{this._id}}/edit">編輯</a>
              <form action="/expense-tracker/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-secondary ml-1 " type="submit">刪除</button>
            </div>
      </div>
    </li>
    </form>
    {{/each}}
    </ul>  
  </div>
</div>